.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.overlay-content {

  font-size:medium;
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 90%;
  width: 90%;
  text-align: center;

  .eventLog {
    text-align: left;
  }

  button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
}

h1 {
  text-align: center;
}

fieldset {
  border: 2px solid #333;
  padding: 8px;
  margin: 0 0 8px 0;
  border-radius: 5px;
}

button {
  padding: 4px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="radio"] {
  accent-color: #007BFF;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

body {
  font-size:medium;
  background: #ffffff;
  color: #333;
  display: grid;
  justify-content: center;
}

body,
input,
button {
  font-family: Arial, Helvetica, sans-serif;
  margin: 4px;
  -webkit-font-smoothing: antialiased;
}

.release {
  font-size: small;
  text-align: right;
  padding: 0 8px 0 0;
}

@media (prefers-color-scheme: dark) {

  .overlay-content,
  body,
  input,
  button {
    background: #222;
    color: #fcf8bf;
  }

  span.switch[data-value="true"] {
    color: #000;
  }

  fieldset.errors {
    color: #f84a1b;
  }
}

.fg {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  position: relative;

  .value {
    padding: 0 0 4px 4px;
    font-size: large;
    justify-self:auto;
  }
}

span.switch {
  border-style: solid;
  border-width: 1px;
  padding: 0px 4px;
  border-radius: 4px;
  background-color: #f05050;
}

span.switch[text="On"] {
  background-color: #90e090;
}

legend {
  font-weight: bold;
}

label {
  width: 100%;
  text-align: left;
  margin-right: 10px;
}

input {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: large;
}

.container {
  display: grid;
  grid-template-columns: 75% 25%;
  align-items: center;
  gap: 4px;
}

.battery-container {
  text-align: center;
  font-family: Arial, sans-serif;
  justify-self: center;
}

.battery {
  width: 80px;
  height: 160px;
  border: 4px solid #333;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  background-color: #eee;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: -1;
  box-shadow: 0px 0px 4px 2px rgba(180, 183, 185, .5);
}

.errors {
  display: none;
  color: #d1050c;
  overflow-wrap: anywhere;
  ul{
    padding: 4px;
  }
  li{
    list-style: none;
  }
}

.events {
  font-size: smaller;
}

.battery::after {
  content: "";
  width: 25px;
  height: 8px;
  background-color: #333;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

.arrow-up,
.arrow-down {
  color: #fcf8bf;
}

.arrow-up[data-value="1"] {
  animation: colorCharge 1s infinite alternate ease-in-out;
}

.arrow-down[data-value="-1"] {
  animation: colorDischarge 1s infinite alternate ease-in-out;
}

@keyframes colorCharge {
  0% {
    color: #fcf8bf;
  }

  100% {
    color: #28a746;
  }
}

@keyframes colorDischarge {
  0% {
    color: #fcf8bf;
  }

  100% {
    color: #dc3546;
  }
}

.charge {
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;
  transition: height 0.5s ease-in-out, background-color 0.5s;
}

.charge-lvl {
  color: rgb(7, 68, 124);
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  position: absolute;
}

.charge[data-lvl="high"] {
  background: linear-gradient(to top, #28a746, #6f6);
}

.charge[data-lvl="medium"] {
  background: linear-gradient(to top, #ffc107, #ffd34f);
}

.charge[data-lvl="low"] {
  background: linear-gradient(to top, #dc3546, #e96572);
}

span.switch[data-value="true"] {
  background-color: #6f6;
}

button.loading span {
  visibility: hidden;
}

button.loading .spinner {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 28%;
    top: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  @keyframes spin {
    0% { transform: translateY(-50%) rotate(0deg); }
    100% { transform: translateY(-50%) rotate(360deg); }
  }
